
  <nav >
    <ul class="pagination">
      
      
      <li 
      class ="page-item"
      [ngClass]="{disabled : currPage === 0 }"
      >
        <a 
        (click)="currPage = currPage-1"
        class="page-link"
        >
          Previous
        </a>
      </li>

      <ng-container  *ngFor="let image of images; let i=index;">
      <li 
      class="page-item"
      [ngClass]="{active : i===currPage}"
      *ngIf="checkWindowIndex(i)"
      >
      <a
      (click)="currPage = i"
      class="page-link"
      >
        {{i+1}}
      </a>
      </li>
      </ng-container>

      <li 
      class ="page-item"
      [ngClass]="{disabled : currPage === images.length - 1 }"
      >
        <a 
        (click)="currPage = currPage+1"
        class="page-link"
        >
         Next
        </a>
      </li>


    </ul>
  </nav>


<div>
<h4>{{images[currPage].title}}</h4>
<img [src]="images[currPage].url" >
</div>